article#albume {
  width: 100%;
}

article#albume section#grid_container {
  width: 100%;
}

article#albume section#grid_container svg {
  display: block;
}

article#albume section#grid_albume {
  max-width: 1056px;
  margin: 150px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 610px) {
  article#albume section#grid_albume {
    margin-top: -20px;
  }
}

article#albume section#grid_albume div#col2 {
  margin-top: -100px;
}

@media (max-width: 1056px) {
  article#albume section#grid_albume div#col2 {
    margin-top: -100px;
  }
}

@media (max-width: 610px) {
  article#albume section#grid_albume div#col2 {
    margin-top: -30px;
  }
}

article#albume section#grid_albume div#col3 {
  display: flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

article#albume section#grid_albume div#col3 div#sub1,
article#albume section#grid_albume div#col3 div#sub2 {
  display: flexbox;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1056px) {
  article#albume section#grid_albume div#col3 div#sub1 {
    margin-top: -230px;
  }
}

@media (max-width: 610px) {
  article#albume section#grid_albume div#col3 div#sub1 {
    margin-top: 0px;
  }
}

@media (max-width: 1056px) {
  article#albume section#grid_albume div#col3 div#sub2 {
    margin-top: -90px;
  }
}

@media (max-width: 610px) {
  article#albume section#grid_albume div#col3 div#sub2 {
    margin-top: -30px;
  }
}

@media (max-width: 1056px) {
  article#albume section#grid_albume div#col3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 610px) {
  article#albume section#grid_albume div#col3 {
    margin-top: -30px;
  }
}

article#albume section#grid_albume div.card {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 3px solid #ffce42;
  border-radius: 15px;
  padding: 20px 0px 10px;
  margin: 30px 23px;
}

article#albume section#grid_albume div.card h3.albume_title {
  font-family: "Arvo";
  font-size: 1.3em;
  text-align: center;
  margin: 0px;
}

article#albume section#grid_albume div.card div.img_cont {
  position: relative;
  width: 100%;
}

article#albume section#grid_albume div.card div.img_cont img.album {
  width: 230px;
  margin: 20px auto;
  display: block;
}

@media (max-width: 610px) {
  article#albume section#grid_albume div.card div.img_cont img.album {
    display: none;
  }
}

article#albume section#grid_albume div.card div.img_cont div.img_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;
  height: 100%;
  width: 90%;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  background-color: #ffffff;
}

article#albume section#grid_albume div.card div.img_cont div.img_hover img.zoom_ic {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

article#albume section#grid_albume div.card div.img_cont div.img_hover:hover {
  cursor: pointer;
}

@media (max-width: 610px) {
  article#albume section#grid_albume div.card div.img_cont div.img_hover {
    display: none;
  }
}

article#albume section#grid_albume div.card p.albume_desc {
  font-family: "Montserrat";
  font-size: 1em;
  text-align: center;
  max-width: 250px;
  margin: 0px;
}

@media (max-width: 610px) {
  article#albume section#grid_albume div.card p.albume_desc {
    display: none;
  }
}

article#albume section#grid_albume div.card img.seeMore {
  cursor: pointer;
  width: 70px;
  margin: 0px auto;
  display: none;
}

@media (max-width: 610px) {
  article#albume section#grid_albume div.card img.seeMore {
    display: inline;
  }
}

@media (max-width: 750px) {
  article#albume section#grid_albume div.card {
    width: 250px;
  }
}
/*# sourceMappingURL=albume.css.map */